.wrapper_header {
  background-color: #5ec0d1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
  color: #2c1185;
}

a:hover {
  color: #ffffff;
}

.wrapper_cards {
  max-width: 1440px;
  margin: 40px auto;
}

.nav-bar {
  width: 230px;
  display: flex;
  justify-content: space-evenly;
}

.nav-body {
  display: flex;
  justify-content: space-between;
  margin: 20px 60px;
}

.nav-body a:hover {
  color: #0084a9;
}

.row-1 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row-2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.row-3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-nav-bar {
  width: 230px;
  display: flex;
  justify-content: space-evenly;
}

.login {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: #5ec0d1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.login_title {
  text-align: center;
}

h2 {
  padding: 0;
  margin: 0;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_input {
  display: block;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.login_btn {
  border: none;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: #299886;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.login_btn:hover {
  cursor: pointer;
  background-color: #197c70;
}

.card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #0084a9;
  border-radius: 20px;
  padding: 5px;
}

.card_wrong {
  border: 2px solid #f00f0f;
}

.questions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 800px;
  /* flex-direction: row; */
}

.question_title {
  font-size: 14px;
  text-align: center;
}

.question_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question_input {
  display: block;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
}

.question_btn {
  border: none;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  background-color: #299886;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.question_btn:hover {
  cursor: pointer;
  background-color: #197c70;
}

.profile_wrap {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #5ec0d1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
